<div class="layout-column align-items-center mt-50">
  <section class="layout-row align-items-center justify-content-center">
    <input type="number" class="large" placeholder="Enter Year eg 2015"
           data-test-id="app-input"/>
    <button class="" data-test-id="submit-button">Search</button>
  </section>


  <ul class="mt-50 styled" data-test-id="movieList">
    <li class="slide-up-fade-in py-10"></li>
  </ul>

  <div class="mt-50 slide-up-fade-in"
       data-test-id="no-result"></div>
</div>
